<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.demo.mapper.StudentMapper">

    <resultMap id="studentDto" type="com.test.demo.po.Student">
        <id column="tid" property="tid"/>
        <result column="stu_name" property="stuName"/>
        <result column="stu_addr" property="stuAddr"/>
        <result column="stu_phone" property="stuPhone"/>
        <result column="stu_state" property="stuState"/>
        <result column="stu_password" property="stuPassword"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insertStudentInfo" useGeneratedKeys="true" keyProperty="tid" parameterType="com.test.demo.po.Student">
          insert into student(stu_name,stu_addr,stu_phone,stu_state,stu_password)
          values(#{stuName},#{stuAddr},#{stuPhone},#{stuState},#{stuPassword})
    </insert>

    <update id="updateStudentInfo" parameterType="com.test.demo.po.Student">
        update student set stu_name=#{stuName} ,stu_addr=#{stuAddr},stu_phone=#{stuPhone}
        ,stu_state=#{stuState},stu_password=#{stuPassword} where tid =#{tid}
    </update>

    <delete id="deleteStudentInfo" parameterType="java.lang.String">
        delete from student where tid =#{tid}
    </delete>

    <select id="findStudentInfos" resultMap="studentDto">
        select * from student
    </select>

    <select id="findStudentInfo" resultMap="studentDto" parameterType="java.lang.String">
        select * from student where tid =#{tid}
    </select>
</mapper>