<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.demo.mapper.SysUserMapper">
    <!-- 用户基本信息-->
    <resultMap id="user" type="com.test.demo.po.SysUserInfo">
        <id column="tid" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_addr" property="userAddr"/>
    </resultMap>
    <!--用户信息-->
    <resultMap id="userInfo" type="com.test.demo.po.vo.SysUserInfoVo">
        <id column="tid" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_addr" property="userAddr"/>
        <collection property="roles" ofType="com.test.demo.po.vo.SysUserRoleVo" resultMap="roleInfo"></collection>
    </resultMap>
    <!--角色信息-->
    <resultMap id="roleInfo" type="com.test.demo.po.vo.SysUserRoleVo">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="user_id" property="userId"/>
        <collection property="permissions" ofType="com.test.demo.po.SysUserPermission"
                    resultMap="permissionInfo"></collection>
    </resultMap>
    <!--权限信息-->
    <resultMap id="permissionInfo" type="com.test.demo.po.SysUserPermission">
        <id column="per_id" property="tid"/>
        <result column="permission" property="permission"/>
        <result column="per_role_id" property="roleId"/>
    </resultMap>
    <select id="getUserInfoByName" parameterType="String" resultMap="userInfo">
      SELECT t.TID,t.USER_NAME,t.USER_PASSWORD,t.USER_ADDR,t.USER_EMAIL,
              r.ROLE_ID,r.ROLE_NAME,r.USER_ID,
              p.tid as per_id,p.permission,p.role_id as per_role_id
      FROM sys_user_info t LEFT JOIN sys_user_role r ON t.TID = r.USER_ID
      left join sys_user_permission p on r.ROLE_ID = p.ROLE_ID where t.USER_NAME=#{name}
    </select>
    <select id="getUserInfoList" parameterType="Map" resultMap="user">
        SELECT t.TID,t.USER_NAME,t.USER_PASSWORD,t.USER_ADDR,t.USER_EMAIL
        FROM sys_user_info t
        <where>
            1=1
            <if test="name !=null and name !='' ">
                and t.USER_NAME like '%${name}%'
            </if>
            <if test="addr !=null and addr !='' ">
                and t.USER_ADDR =#{addr}
            </if>
        </where>
    </select>
</mapper>